.Home-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    justify-content: center;
    align-items: center; 
    align-content: center;
    margin: auto;
    /* bottom: 0px; */
    top: 0;
    height: 100%;
}



.Home-header {
    display: inline-block;
    justify-content: center; 
    align-items: center; 
    align-content: center;
    padding: 10rem 1%;
    /* margin: auto */
    width: 50%;
    height: 100%;
    min-height: 65vh;
    background-image: linear-gradient(to right,
    white 60%,
    rgba(0,0,0,0) 100%
    );
    
}

.community-info {
    margin: 25px auto;
    width: 50%;
}

.community-info h2 {
    color:rgba(77,93,118,255);
    padding: 15px 0;
    font-size: 1.5rem;
}

.community-info Button {
    color: white;
    font-size: 1rem;
    padding: 10px 0;
    margin: 15px 0
}

.community-info p {
    color:rgba(77,93,118,255);
    max-width: 500px;
    text-align: justify;
    line-height: 30px;
    font-size: 1.1rem;
    
}

.about {
    background-image: linear-gradient(125deg,
    rgba(240,113,118,255),
    white,
    white,
    white,
    white,
    rgba(77,93,118,255)  
    );
    min-height: 35vh;
    height: 35%;
}

.about-content {
    margin:auto;
    height:100%;
    min-height: 35vh;

}
